@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: black;
}

header {
    padding:  3vh 18vw 0vh 18vw;
    background-color: black;
    min-height: 6vh;
}

.title {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6vh;
    color: #27f695;
    text-align: left;
}

.headerbtns {
    position: absolute;
    right: 0;
    top: 0;
    height: 5vh;
    display: inline-block;
    padding:  5vh 18vw 0vh 0vw;
}

.headerimgs {
    height: 5vh;
    margin: 0 0.3vw 0 0.3vw;
}

.headertext {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    color: white;
    padding-bottom: 1.25vh;
    vertical-align: bottom;
    display: inline-block;
}

.headerdiv {
    display: inline;
}

.aimg {
    text-decoration: none;
}

#lang-box {
    text-align: center;
    height: 0;
    width: 0;
    background-color:#27f695;
    color: black;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    padding: 2vh 2vh 2vh 2vh;
    visibility: hidden;
    border: hidden;
    border-radius: 50px;
    right: 18vw;
    position: absolute;
    z-index: 100;
}

.langimg {
    height: 5vh;
    width: auto;
    display: inline;
}

#login-box {
    text-align: center;
    height: 0;
    width: 0;
    background-color:#27f695;
    color: black;
    display: block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
    padding: 2vh 2vh 2vh 2vh;
    visibility: hidden;
    border: hidden;
    border-radius: 50px;
    right: 18vw;
    position: absolute;
    z-index: 100;
}

#login-box input[type=email], input[type=password] {
    background-color: white;
    color: black;
    border: 1px solid #27f695;
    padding: 5px;
    margin: 5px;
}

#login-box input[type=email]:focus, input[type=password]:focus {
    border: 1px solid black;
}

#login-box input[type=submit] {
    background-color: white;
    color: black;
    border: none;
    padding: 7px;
    margin: 5px;
}

#login-box input[type=submit]:hover {
    background-color: black;
    color: white;
}

#search {
    padding:  0vh 18vw 0vh 18vw;
    background-color: black;
}

.welcometext {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 7vh;
    color: white;
    text-align: center;
    padding-top: 18vh;
}

#searchform {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdiv {
    display: inline-block;
    margin: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: visible;
}

.searchinput {
    background-color: white;
    color: black;
    border: none;
    padding: 15px;
    margin: 2px;
    height: 1vh;
    
}

#searchform input[type=image] {
    padding: 2px;
    margin: 10px;
    height: 5vh;
}

#searchform input[type=image]:hover {
    background-color: white;
    border-radius: 50%;
}

#hotelslist {
    margin-top: 10vh;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hotellist-c1 {
    width: 18vw;
    margin-left: 18vw;
    border-radius: 2%;
    padding: 1vw;
    display: inline-block;
    margin-bottom: 1vw;
    column-count: 2;
}

.hotellist-c2 {
    width: 18vw;
    margin-left: 1vw;
    border-radius: 2%;
    padding: 1vw;
    display: inline-block;
    margin-bottom: 1vw;
    column-count: 2;
}

.hotellist-c3 {
    width: 18vw;
    margin-left: 1vw;
    border-radius: 2%;
    padding: 1vw;
    display: inline-block;
    margin-bottom: 1vw;
    column-count: 2;
}

.hotellist-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    column-span: all;
    display: block;
}

.hotellist-name {
    font-weight: 900;
    font-size: large;
    margin-top: 1vh;
    display: block;
    text-align: left;
    white-space: nowrap;
    overflow: visible;
}

.hotellist-location {
    font-weight: 500;
    text-align: left;
    display: block;
    white-space: nowrap;
    overflow: visible;
}

.hotellist-price {
    font-weight: 700;
    text-align: right;
    display: block;
    align-items: right;
    padding-top: 1vh;
    white-space: nowrap;
    overflow: visible;
    
}

.hotellist-rating {
    font-weight: 300;
    text-align: right;
    display: block;
    align-items: right;
    white-space: nowrap;
    overflow: visible;
}

.nothing {
    margin-top: 5vh;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

#footer {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.9;
    margin-top: 15vh;
    margin-bottom: 10vh;
    white-space: nowrap;
    overflow: visible;
}

#footer a {
    color: white;
    text-decoration: none;
}

.footer-c1 {
    line-height: 1.5;
    width: 12vw;
    margin-left: 18vw;
    display: inline-block;
}

.copyright {
    padding-top: 2vh;
}

.footer-c2 {
    width: 10vw;
    margin-left: 27vw;
    display: inline-block;
}

.footer-c3 {
    width: 10vw;
    margin-left: 5vw;
    display: inline-block;
}