body {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#hotelsite {
    min-height: 110vh;
}

.hotelname {
    font-size: 6vh;
    margin: 6vh 0 0 18vw;
}

.hotellocation {
    font-size: 2.5vh;
    margin: 1vh 0 0 18vw;
}

.reservbtn {
    background-color: #27f695;
    color: black;
    font-weight: bold;
    border: 3px solid #27f695;
    border-radius: 20px;
    padding: 1.2vh 2vh;
    margin: 2vh 1.2vw;
    position: absolute;
    right: 6.5vw;
    font-size: 2vh;
    cursor: pointer;
    width: 9vw;
}

.reservbtn:hover{
    background-color: black;
    color: #27f695;
}

.hotelicon {
    height: 5vh;
    margin: 2vh 0 2vh 0.5vw;
}

.hotelicons {
    position: absolute;
    right: 18vw;
    top: 19vh;
    cursor: pointer;
}

.space {
    height: 3vh;
}

.left {
    width: 25vw;
}

.hotelimg {
    width: 25vw;
    height: 20vw;
    object-fit: cover;
    margin: 1vh 0 0 18vw;
    position: static;
}

.right {
    margin: -41vw 0 0 45vw;
    width: 30vw;
    line-height: 1.75;
}

.facility {
    text-align: center;
    display:inline-block;
    width: 6.5vw;
    word-wrap: break-word;
    white-space: normal;
    line-height: normal;
    vertical-align: top;
}

.facilityimg {
    height: 1.8vw;
    margin: 1.2vh 0;
}

.hotelprice {
    line-height: 2;
    margin: 1vh 0 1.5vh 0;
    font-weight: 900;
    font-size: 2.3vh;
    color: #27f695;
}

.reviewintro {
    line-height: 1.75;
}

.avg {
    display: inline-block;
    width: 2.5vw;
    margin-left: 20.5vw;
    margin-top: 0.5vh;
    white-space: nowrap;
    overflow: visible;
    padding: 0.5vh 1vw;
    background-color: #27f695;
    border-radius: 50px;
    color: black;
    text-align: center;
}

.review {
    margin: 2vh 0;
    padding: 1vh 1vw;
    width: 28vw
}

.reviewname {
    display: inline-block;
    width: 17.5vw;
    white-space: nowrap;
    overflow: visible;
}

.reviewrating {
    display: inline-block;
    width: 1.5vw;
    margin: 0.5vh 0 0.4vh 6.1vw;
    white-space: nowrap;
    overflow: visible;
    padding: 0.15vh 0.9vw;
    background-color: white;
    border-radius: 50px;
    color: black;
    text-align: center;
    
}

.reviewtext {
    margin-top: 1vh;
    line-height: 1.5;
}






#searchform {
    margin-top: 3vh;
    justify-content: center;
    align-items: center;
}

.formdiv {
    display: inline-block;
    margin: 2px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    white-space: nowrap;
    overflow: visible;
}

.searchinput {
    background-color: white;
    color: black;
    border: none;
    padding: 2vh 2vh;
    margin: 0.2vw;
    height: 3vh;
    width: 18vh;
    font-size: 1.8vh;
}

#searchform input[type=image] {
    padding: 2px;
    margin: 10px;
    height: 5vh;
}

#searchform input[type=image]:hover {
    background-color: white;
    border-radius: 50%;
}

.res-div {
    width: 60vw;
    margin: 5vh 20vw;
}

.res-div a {
    color: white;
}

.content {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5vh;
}

label {
    margin: 2vh 1vw 2vh 1vw;
}

.recap-title {
    font-size: 4vh;
}

.recap-text, .data {
    line-height: 1.5;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.datainput {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 2vh 1vw 2vh 1vw;
    font-size: 2.5vh;
    border: 1px solid black;
    width: 20vw;
}

input[type=submit] {
    background-color: white;
    color: black;
    border: none;
    padding: 7px;
    margin: 5px;
    margin-top: 4vh;
    font-size: 2vh
}

input[type=submit]:hover {
    background-color: #27f695;
    color: black;
}

.res-se-btn {
    background-color: #27f695;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    padding: 1.2vh 2vh;
    margin-top: 2vh;
    left: 40vw;
    position: absolute;
    font-size: 2vh;
    cursor: pointer;
    width: 20vw;
}

.res-se-btn:hover {
    background-color:white;
}